{% extends "base.html" %}

{% block title %}
    <title>Account Details - {{ object.name }}</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Account Details</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">Account ID: {{ object.id }}</p>
            <p class="card-text">Balance: {{ object.balance }}</p>
            <a href="#" class="btn btn-success">Transfer Funds</a>
        </div>
    </div>
</div>
{% endblock body %}
